/*
body {
    color: #fff;
    background-color: #4F8BF9;
}

.e1f1d6gn0 { 
    position: relative;
    overflow-x: auto;
} 



.marks{
    display: block;
    width: auto;
    padding: 0px 30px;
    box-sizing: border-box;
    margin-top: 20px;
    height: 380px
}
*/

/*
.e1vs0wn30 {
    display: block;
    width: auto;
    padding: auto;
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 20px;
}



.stButton>button {
    height: auto;
    background-color: #4F8BF9;
    color: #fff;
}

.stButton>button:hover {
    background-color: #0655e7;
    color: #fff;
    border: #4F8BF9
}

.stButton>button:active {
    background-color: #0655e7;
    color: #fff;
    border: #4F8BF9
}

.stTextInput>div>div>input {
    color: #4F8BF9;
}
*/

